@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#trail_logo_img {
    width: 230px;
    height: 130px;
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 30px;
}

#desc {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Open Sans", sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

#connect_button {
    background-color: #686C8C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 300px;
    text-align: center;
    font-size: 16px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

#top_logo {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

#header {
    display: flex;
}

#my_address {
    margin-top: 17px;
    margin-right: 10px;
    margin-left: 15px;
    word-break: break-all;
}

#kebab_icon {
    margin-top: 23px;
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

#send_heading {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.line {
    border-bottom: 1px solid black;
    width: 80%;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

#send_form {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

#send_eth {
    background: #686C8C;
    border-radius: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 30px;
    margin-top: 60px;
}

#receiving_address {
    width: 300px;
    border: none;
    border-radius: 10px;
    padding: 6px;
    background-color: rgb(209, 209, 209);
}

#amount_to_be_send {
    width: 300px;
    border: none;
    border-radius: 10px;
    padding: 6px;
    background-color: rgb(209, 209, 209);
}

#amt_send_label {
    border-radius: 10px;
    margin-top: 20px;
}

.txt_center {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    color: gray;
}

.line-gray {
    color: rgb(192, 192, 192);
}

.active_option {
    color: black;
}

#view_sent_heading {
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
}

.tx_list_data {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
}

#tx1-box1 {
    display: flex;
}

#tx1 {
    margin-left: 10px;
}

.tx_list_claim {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 30px;
    color: green;
}

.tx_list_revert {
    background-color: #686C8C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 20px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    margin-bottom: 30px;
}

#revert_buttons {
    display: flex;
}

.unclaimed_box_1 {
    margin-top: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.unclaimed_claim_button {
    margin-top: 15px;
    background-color: #686C8C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    margin-bottom: 15px;
}

#no-sent-tx-page {
    width: 500px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

#tx_unclaimed_list {
    width: 500px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

#select_erc20_token {
    background-color: rgb(209, 209, 209);
    padding: 4px;
    border-radius: 10px;
    padding-left: 5px;
    display: flex;
}

#eth_logo {
    width: 26px;
    height: 26px;
}

.token_modal_list {
    display: flex;
    margin-top: 10px;
}

.token_img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    margin-left: 23px;
}

#erc20_addr_box {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    text-align: center;
}

#sending_unit_name {
    margin-left: 6px;
}

#sending_unit_logo {
    margin-left: 6px;
}

.already_rev {
    background-color: aliceblue;
    color: black;
}